# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

#data (excludes everything in the folder data)
data/*
clean_data/*
raw_data/*
stuff/*
*.csv
*.xls
*.xlsx

!R/data_dic/data_description.xlsx

#figures & output
*.png
*.html
*.pdf
*.jpeg
*.jpg
*.md
*2.bib
*.ai
*.iso
*.cdr
*.tif

# MacOS nonsense
.DS_Store

*.knit.md

# R Environment Variables
.Renviron
